@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-container {
    @apply flex-1 p-6 md:py-10 lg:px-0 w-full lg:w-3/4 xl:max-w-[990px] mx-auto;
  }

  .markdown {
    @apply max-w-none overflow-x-hidden;
    @apply lg:prose-lg text-gray-300 mx-auto pb-10 prose-h2:text-gray-100 prose-h3:text-gray-100;
    @apply prose-blockquote:text-gray-400 prose-a:text-blue-400;
    @apply prose-code:text-yellow-400 prose-code:bg-[#0d1117] prose-pre:bg-[#0d1117] prose-code:p-1 prose-code:rounded;
    @apply prose-img:rounded-sm;
    @apply prose-strong:font-bold prose-strong:text-gray-200;
  }
}
